<!DOCTYPE html>
<html>
<head>
<title>Project</title>
<link rel="stylesheet" href="style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
</head>
<body>
<section class="main_header">
	 <nav class="navbar navbar-default">
		<div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="images/logo.png"></a>
			</div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Trade</a></li>
				<li><a href="#">List your Coin</a></li>
				<li><a href="#">Hire Trader</a></li>
				<li><a href="#">About Us  <i class="fa fa-caret-down"></i></a>
					<ul CLASS="sub-menu">
						<li><a href="#">Link1</a></li>
						<li><a href="#">Link2</a></li>
						<li><a href="#">Link3</a></li>
				</ul>
				</li>
				<li><a href="#">Support <i class="fa fa-caret-down"></i></a> 
					<ul CLASS="sub-menu">
						<li><a href="#">Link1</a></li>
						<li><a href="#">Link2</a></li>
						<li><a href="#">Link3</a></li>
				</ul>
				</li>
				<li><a href="#">BLOG</a></li>
				
			</ul>
			<div class="button_1">
				<a href="#">Log In</a>
			</div>
			<div class="button_2">
				<a href="#">Sign Up <i class="fas fa-arrow-right"></i></a>
			</div>
        </div><!-- /.navbar-collapse -->
		
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</section><!--main_header section end-->

<section class="sliders">
	<div id="owl-demo">
		<div class="item slider1">
			<div class="overlay">
			</div>
				<div class="container">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text_banner">
							<h2>Make your first deposit and <br>get 1 BTC for free. <br> Minimum deposit 0,30 BTC</h2>
							<p>Use this BTC, to trade for a month.If you are in profits,we add in your balance the existing profitable amount.</p>
							<div class="get-started-btn">
								<a href="#">Let's Get Started  <i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo_img">
							<img src="images/logo.png">
							<a href="#">www.cryptofxspace.com</a>
						</div>
					</div>
				</div>
		</div>
		<div class="item slider2">
			<div class="overlay">
			</div>
				<div class="container">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text_banner">
							<h2>Make your first deposit and <br>get 1 BTC for free. <br> Minimum deposit 0,30 BTC</h2>
							<p>Use this BTC, to trade for a month.If you are in profits,we add in your balance the existing profitable amount.</p>
							<div class="get-started-btn">
								<a href="#">Let's Get Started  <i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo_img">
							<img src="images/logo.png">
							<a href="#">www.cryptofxspace.com</a>
						</div>
					</div>
				</div>
		</div>
		<div class="item slider3 ">
			<div class="overlay">
			</div>
				<div class="container">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text_banner">
							<h2>Make your first deposit and <br>get 1 BTC for free. <br> Minimum deposit 0,30 BTC</h2>
							<p>Use this BTC, to trade for a month.If you are in profits,we add in your balance the existing profitable amount.</p>
							<div class="get-started-btn">
								<a href="#">Let's Get Started  <i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo_img">
							<img src="images/logo.png">
							<a href="#">www.cryptofxspace.com</a>
						</div>
					</div>
				</div>
		</div>
		<div class="item slider4">
			<div class="overlay">
			</div>
				<div class="container">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text_banner">
							<h2>Make your first deposit and <br>get 1 BTC for free. <br> Minimum deposit 0,30 BTC</h2>
							<p>Use this BTC, to trade for a month.If you are in profits,we add in your balance the existing profitable amount.</p>
							<div class="get-started-btn">
								<a href="#">Let's Get Started  <i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo_img">
							<img src="images/logo.png">
							<a href="#">www.cryptofxspace.com</a>
						</div>
					</div>
				</div>
		</div>
		<div class="item slider5 ">
			<div class="overlay">
			</div>
				<div class="container">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text_banner">
							<h2>Make your first deposit and <br>get 1 BTC for free. <br> Minimum deposit 0,30 BTC</h2>
							<p>Use this BTC, to trade for a month.If you are in profits,we add in your balance the existing profitable amount.</p>
							<div class="get-started-btn">
								<a href="#">Let's Get Started  <i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo_img">
							<img src="images/logo.png">
							<a href="#">www.cryptofxspace.com</a>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>


<section class="footer">
	<div class="container">
	<div class="bnhder">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="footer-text">
				<h1>Start trading now</h1>
				<p>Trade Bitcoin and any other cryptocurrency in simple steps.</p>
				<div class="get-started-btn">
					<a href="#">Let's Get Started  <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div class="bnrhd">
				<img src="images/logo.png">
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="nav_item_1">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_nav">
						<h3>Company</h3>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Our Team</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_nav">
						<h3>Explore</h3>
						<ul>
							<li><a href="#">Trade/Exchange</a></li>
							<li><a href="#">List Your Coin</a></li>
							<li><a href="#">Hire Trader</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_nav">
						<h3>Support</h3>
						<ul>
							<li><a href="#">Support</a></li>
							<li><a href="#">FAQs</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_nav">
						<h3>Community</h3>
						<ul class="icons">
							<li ><a href="#"><i class="fab fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="end-text">
			<p>&copy; 2019 CryptoFxSpace.com.All Rights Reserved.</p>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="right-text">
			<ul>
				<li>2019-07-15 16.34.43</li>
				<li>Terms & Conditions</li>
				<li><i class="fas fa-wifi"></i> Connected</li>
			</ul>
		</div>
	</div>
	</div>
</section>

<script>
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      autoPlay: 6000, //Set AutoPlay to 3 seconds
 
      items : 1,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
</script>
</body>
</html>