body {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  transition: all 0.3s ease;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 14px !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #b4800e !important;
}

.text-yellow-500 {
  color: #b4800e;
}
li.nav-item.pr-md-2 {
    padding: 0px !important;
}
.bg-yellow-500 {
  background: #F5BC00;
}

.bg-blue-800 {
  background: #0E0A3A;
}

.bg-blue-900 {
    background: #1b1b38 !important;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #0E0A3A, #084688);
  background-repeat: no-repeat;
}

.btn-yellow {
  color: #1a202c;
  background: #b4800e;
}

.footer {
  padding: 6rem 0;
  position: relative;
}

.footer ul li a {
  color: #FFF;
  opacity: .7;
}

.footer ul li a:hover,
.footer ul li a:focus {
  opacity: 1;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

textarea {
  resize: vertical;
}

.form-box {
  background: rgba(255, 255, 255, .1);
  border-radius: 4px;
}

.accordion .card {
  border: 1px solid rgba(255, 255, 255, .25);
}

.accordion .card-header {
  padding: 1rem;
  border: none;
}

.accordion .card-body {
  padding: 1rem 1.45rem;
}

.accordion button {
  text-align: left;
}

@media (max-width:640px) {
  .display-4 {
    font-size: 2.5rem;
  }
}

.navbar-brand {
  margin-right: 0;
}


@media (min-width: 1024) {
  .navbar-brand img {
    width: auto;
    height: 48px;
  }
}
.navbar-brand img {
    width: 100%;
    float: left;
    position: relative;
    height: auto;
}
li.nav-item.pr-md-2 a {
    font-size: 14px !important;
}
/* wizard css */

.stepwizard-step p {
  color: #4A5568;
  font-size: 12px;
  margin-top: 10px;
}

@media (min-width: 1024) {
  .stepwizard-step p {
    font-size: 14px;
  }

}

.stepwizard-row {
  /* display: table-row; */
  display: flex;
}

.stepwizard {
  /* display: table; */
  display: block;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard .btn.disabled,
.stepwizard .btn[disabled],
.stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: #bbb;
}

.stepwizard-row:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #CBD5E0;
  z-index: 0;
}

.stepwizard-step {
  /* display: table-cell; */
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: center;
  position: relative;
}

.stepwizard .btn-outline-light {
  background: #FFF;
}

.stepwizard .btn-yellow {
  color: #1a202c;
  background: #F5BC00;
  border-color: #F5BC00;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428571429;
  border-radius: 50px;
}

a[disabled="disabled"] {
  pointer-events: none;
}

.mobile-mockup {
  width: 100%;
  margin-top: 50px;
}


@media (min-width: 768px) {
  .mobile-mockup {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }

  .md-h-screen {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .mobile-mockup {
    width: 56%;
  }
}

@media (min-width: 1200px) {
  .mobile-mockup {
    width: 44%;
  }
}

.card-fees {
  border: 1px solid rgba(255, 255, 255, .3);
  background: transparent;
  transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  -webkit-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-fees .display-4 {
    font-size: 2.5rem;
  }
}


.card-fees h1,
.card-fees h6 {
  color: #FFF;
}

.card-fees h4 {
  color: #F5BC00;
}

.card-fees:hover {
  background:#F5BC00;
}

.card-fees:hover h1,
.card-fees:hover h4,
.card-fees:hover h6 {
  color: #1A202C;
}


/* Wallet */
.wallet-amount{
  background: #dce6ec;
  padding: 8px 10px;
}

.wallet-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 240px;
}
.wallet-image {
  margin: 25px 25px 25px 0;
  color: #000;
}
.wallet-image strong{
  display: block;
  font-size: 100px;
  font-weight: bold;
  line-height: 0;
}
.wallet-content {

}
.wallet-content h5{
margin: 0;
text-transform: uppercase;
line-height: 16px;
}
.wallet-content strong{
  display: block;
  font-size: 25px;
  font-family: 'OpenSans-Semibold.ttf';
  line-height: 22px;
  margin: 18px 0;
}
.wallet-content a{
margin: 3px 0;
color: #333;
width: 90%;
}
.bl-btn{
background: #161624;
color: #fff !important;
}
.yl-btn{
background: #d58c07;
color: #fff !important;
}
.brw-btn{
background: #6f3800;
color: #fff !important;
}
.grey-btn{
background: #ddd;
color: #333 !important;
}
.market-tab {
  background: #1b1b38;
  width: 100%;
  position: relative;
  padding: 30px 0;
}
.wallet-table-body{
  color: white;
  border: 0px;
}
.wallet-table-head{
  color: white;
}
.wallet-table td{
  border: 0px;
  font-family: 'Montserrat', sans-serif !important;
}
.wallet-table tr:nth-child(odd) {
  background:#151529
}
.wallet-table tr:nth-child(even) {
  background:#1b1b38
}
.wallet-table-head th{
  border: 0px;
  border-bottom-width: 0px !important;
  background: #999999;
  border-top: 0px !important;
  border-bottom: 0px !important;
}
.wallet-deposite-btn{
  background: #fbc02d !important;
}
.wallet-withdraw-btn{
  background: #d58c07 !important;
}
.wallet-table-search{
  padding-bottom: 7px;
/*market/btcusd*/}
.market-section .text-weight-bold {
  display: inline-block;
}
.market-section .market-heading {
  color: #f89e32;
}
.market-section .bit-img {
  position: relative;
  top: -4px;
}
.market-section .market-head-box {
  border: 3px solid #0f0f34;
  padding: 16px !important;
}
.zth-theme-btn {
    padding: 0px 6px;
    font-size: 28px;
    background: #cecece;
    border: 0;
    color: #0f0f34;
    border-radius: 5px;
    outline: 0;
}
.market-section a {
  color: #0f1034;
}
.market-section .table thead th {
    font-weight: normal;
    font-size: 12px;
    padding: 5px 2px;
    background: #ffeab9;
}
.market-section .nav-link {
    border-radius: 0px;
    color: #0f0f34;
}
.market-section .h5 {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.market-section .nav-pills .nav-link.active {
    background-color: #0f0f34 !important;
    color: #fff !important;
}
.market-section .table-scroll {
    max-height: 500px;
    overflow: auto;
}
.market-section .searchnew {
  position: relative;

}
.market-section .searchnew .bx-search {
    position: absolute;
    top: 13px;
    right: 10px;
}
.market-section .table tbody td {
    font-weight: normal;
    font-size: 12px;
    padding: 5px 2px;

}
.market-section .fees-card h3 {
    margin: 0;
    font-size: 20px;
}
.market-section .fees-card {
    background: #ffeab9;
    padding: 10px;
  }

.bggray {
  background: #f2f2f2;
}
.market-section .btn-dark-ui {
  color: #fff;
}
.market-section.ztx-night {
  background: #0f0f34;
}

.market-section.ztx-day .ztxday {
      color: #fff;
    background: #0f0f34;
}

.market-section.ztx-night .ztxnight {
      color: #fff;
    background: #0f0f34;
}

.market-section.ztx-night  .market-head-box {
    border: 3px solid #e0a800;
    color: #fff;
}
.market-section.ztx-night table tr td a {
  color: #fff;
}
.market-section.ztx-night table tr td {
  color: #fff;
}
.market-section.ztx-night .nav-link {
  color:#fff;
}
.market-section.ztx-night .nav-pills .nav-link.active {
    background-color: #fec235 !important;
    color: #fff !important;
}
.market-section.ztx-night legend {
  color: #fff;
}
.market-section.ztx-night .bggray {
  background: transparent;
  color: #fff;
}
.market-section.ztx-night .h5 {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.parsley-errors-list {
    list-style: none;
    font-size: 10px;
    text-align: right;
    color: #f10;
}