@layout('layouts.default')

@section('content')

<div class="main-content">
	<section class="pages-banner-section">
		<h2 class="page-title">{{ antl.formatMessage('keywords.our_fees') }}</h2>
	</section>
	<section class="security-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{{ fees.content }}}
				</div>
			</div>
		</div>
	</section>
</div>

@endsection