@layout('layouts.default')

@section('content')

<div class="main-content">
	<section class="pages-banner-section" style="background-image:url('images/security.jpg');">
		<h2 class="page-title">{{ antl.formatMessage('keywords.security') }}</h2>
	</section>
	<section class="security-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{{ security.content }}}
				</div>
			</div> 
		</div>
	</section>
</div>

@endsection   